ATOME_API_KEY=
BLOB_READ_WRITE_TOKEN=
RESEND_API_KEY=
RESEND_FROM=Jérémy Foucray <jeremy@atome.sh>
SIGNING_FROM=Jérémy Foucray <jeremy@atome.sh>
SIGNING_INVITER_NAME=Jérémy Foucray
SIGNING_COMPLETION_CC=finance@atome.sh
SIGNING_PUBLIC_BASE_URL=http://localhost:5173
